/* =========
Your custom styles go here
 ========= */
.m-t-0 {
  margin-top: 0;
}

.m-t-15 {
  margin-top: 15px;
}

.m-r-7 {
  margin-right: 7px;
}

.btn-add {
  margin: 0 auto;
}

.contact-content > .page-content {
  top: 88px !important;
  padding-top: 0 !important;
  background-color: #fff;
}

.contact-content > .page-content::-webkit-scrollbar {
  display:none;
}

.search-content {
  margin-top: 0;
  padding: 0;
  margin-bottom: 133px;
}
.search-result {
  margin-bottom: 0;
  margin-right: 20px;
}

.contact-amount {
  font-size: 16px;
  text-align: center;
  background-color: #FFF;
}

.amount-desc {
  margin-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 0.3px solid #c8c7cc;
}

.contact-sorter-container {
  position: fixed;
  z-index: 99;
  right: 0;
  top: 20%;
  width: 20px;
  height: 100%;
}

.contact-sorter {
  list-style-type: none;
  color: #007aff;
  font-size: 10px;
  margin: 0;
  padding: 0;
  width: 20px;
  text-align: center;
}

.contact-sorter li:hover {
  cursor: pointer;
}

.item-input.error-msg {
  font-size: 15px;
  color: red;
  width: 130px;
}

.delete-btn * {
  font-size: 16px;
  color: red;
  text-align: center;
}

.delete-btn:hover {
  cursor: pointer;
}

.spinner {
  position: absolute;
  left: 45%;
  top: 10%;
  z-index: 999;
}

.workplan-list .item-content>.item-inner{
  margin-left: 0;
}
.workplan-list .spinner {
  top: 40%;
}

.workplan-list .page-content {
  overflow-x: hidden;
}

.workplan-list li.li-transition {
  transition: transform 0.3s linear;
  -webkit-transition: transform 0.3s linear;
}

.workplan-list .accordion-item-content {
  -webkit-transform: none;
  transform: none;
}

.workplan-list .delete-btn{
  font-size: 15px;
  width: 60px;
  height: 44px;
  background-color: red;
  text-align: center;
  line-height: 3;
  color: #FFF;
  position: absolute;
  top: 0;
  right: -60px;
}

option[data-default] {
  color: #f2e8e6;
}

.add-btn {
  display: inline;
}

.workplan-option .block-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 0.3px solid #d9d9d9;
  border-right: 0.3px solid #d9d9d9;
  padding: 0 0;
}

.workplan-option .block-container .chip {
  flex: 1 0 50%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #fff;
  color: #000;
  margin: 0 0;
  border-radius: 0px;
  border-top: 0.3px solid #d9d9d9;
  border-left: 0.3px solid #d9d9d9;
}

.workplan-option .block-container .chip .chip-label {
  margin: 0 auto;
}

.workplan-option .block-container .chip .badge {
  background-color: #FF2E63;
}

.workplan-option .block-container .chip:hover {
  cursor: pointer;
}

.navbar a.link.active-state,
.toolbar a.link.active-state {
  opacity: 1;
}

.work-plan .list-block .item-title.label {
  width: 50%;
}

.home-page {
  background-color: #FFF;
}

/*swiper*/
.home-page .swiper-container {
  position: relative;
  height: 35%;
}

.home-page .swiper-slide {
  background: #fff;
}

.home-page .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: none;
  border: 1px solid #aaa;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
}

.home-page .swiper-pagination-bullet-active {
  background: #007aff;
  border-color: #007aff;
}

.home-page .slide_1 {
  background-image: url(../../static/banner.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*sudoku*/
.sudoku-grids {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-left: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9;
}

/*.sudoku-grids > * {
  color: black;
}*/

.sudoku-grid {
  width: 33%;
  text-align: center;
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  flex: 1 0 auto;
}

.sudoku-grid__icon {
  margin: 0 auto;
  margin-top: 20px;
}

.sudoku-grid__icon > img {
  width: 28px;
  height: 28px;
}

.sudoku-grid__label {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #000;
}

.conf-image .page-content {
  display: flex;
  justify-content: space-around;
}

/* screen responsive implementation for image */
.conf-image .image-content {
  background-color: #FFF;
  width: 360px;
  overflow-y: auto;
  padding-bottom: 50px;
}

.conf-image .image-content li {
  list-style: none;
}

.conf-image .image-content .content {
  padding-left: 0px;
}

.conf-image .image-content ul {
  padding-left: 0px;
}

.conf-image .image-content .content .outer-li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}

.conf-image .image-content .content .date {
  font-size: 12px;
  padding: 1px 0px;
  text-align: center;
}

.conf-image .image-content .content .outer-li header {
  flex: 0 0 50px;
  margin-right: 1px;
}

.conf-image .image-content .content .outer-li ul {
  flex: 0 0 290px;
}

.conf-image .image-content .content .inner-li {
  margin-bottom: 10px;
}

.conf-image .image-content .content .inner-li h2 {
  color: #BD0927;
  margin-bottom: 10px;
  border-bottom: 2px solid #BD0927;
  font-size: 12px;
}

.conf-image .image-content .content .inner-li .infos {
  font-size: 12px;
}

.conf-image .image-content .content .inner-li .infos .row-0 {
  display: flex;
  justify-content: flex-start;
}

.conf-image .image-content .content .inner-li .infos .row-0 .time {
  flex: 0 0 80px;
  margin-right: 0px;
}

.conf-image .image-content .content .inner-li .infos .row-0,
.conf-image .image-content .content .inner-li .infos .row-1,
.conf-image .image-content .content .inner-li .infos .row-2 {
  margin-bottom: 5px;
}

.conf-image .image-content .content .title {
  margin-top: 0;
  margin-bottom: 0;
}

.conf-image .image-content .content .date {
  color: #FFF;
  background-color: #BD0927;
}

.conf-image .image-content .header {
  background-image: url(../../static/conf-header.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 360px;
  height: 160px;
  position: relative;
}

.conf-image .image-content .header .rangeTitle {
  position: absolute;
  color: #FFF;
  font-size: 12px;
  top: 50px;
  left: 205px;
}

.conf-image .image-content .footer {
  background-image: url(../../static/conf-footer.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 96px;
  height: 39px;
  margin: 0 auto;
}

@media (min-width: 544px) {
  .conf-image .image-content {
    background-color: #FFF;
    width: 544px;
  }

  .conf-image .image-content .header {
    background-image: url(../../static/conf-header.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 544px;
    height: 246px;
    position: relative;
  }

  .conf-image .image-content .header .rangeTitle {
    position: absolute;
    color: #FFF;
    font-size: 16px;
    top: 79px;
    left: 315px;
  }

  .conf-image .image-content .content {
    padding-left: 0px;
  }

  .conf-image .image-content ul {
    padding-left: 10px;
  }

  .conf-image .image-content .content .date {
    font-size: 15px;
    padding: 5px 10px;
  }

  .conf-image .image-content .content .outer-li header {
    flex: 0 0 80px;
  }

  .conf-image .image-content .content .outer-li ul {
    flex: 0 0 410px;
  }

  .conf-image .image-content .content .inner-li h2 {
    font-size: 15px;
  }

  .conf-image .image-content .content .inner-li .infos {
    font-size: 13px;
  }

  .conf-image .image-content .content .outer-li {
    margin-bottom: 5px;
  }

  .conf-image .image-content .content .inner-li .infos .row-0 .time {
    flex: 0 0 80px;
    margin-right: 30px;
  }

  .conf-image .image-content .footer {
    width: 145px;
    height: 60px;
  }
}

@media (min-width: 768px) {
  .conf-image .image-content {
    background-color: #FFF;
    width: 768px;
  }

  .conf-image .image-content .header {
    background-image: url(../../static/conf-header.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 768px;
    height: 342px;
    position: relative;
  }

  .conf-image .image-content .header .rangeTitle {
    position: absolute;
    color: #FFF;
    font-size: 21px;
    top: 108px;
    left: 445px;
  }

  .conf-image .image-content .content {
    padding-left: 0px;
  }

  .conf-image .image-content .content .date {
    font-size: 17px;
    padding: 5px 18px;
  }

  .conf-image .image-content .content .outer-li header {
    flex: 0 0 100px;
  }

  .conf-image .image-content .content .outer-li ul {
    flex: 0 0 520px;
  }

  .conf-image .image-content .content .inner-li h2 {
    font-size: 20px;
  }

  .conf-image .image-content .content .inner-li .infos {
    font-size: 15px;
  }

  .conf-image .image-content .content .outer-li {
    margin-bottom: 16px;
  }

  .conf-image .image-content .content .inner-li .infos .row-0 .time {
    flex: 0 0 100px;
    margin-right: 60px;
  }

  .conf-image .image-content .footer {
    width: 205px;
    height: 84px;
  }
}

@media (min-width: 992px) {
  .conf-image .image-content {
    background-color: #FFF;
    width: 886px;
  }

  .conf-image .image-content .header {
    background-image: url(../../static/conf-header.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 886px;
    height: 394px;
    position: relative;
  }

  .conf-image .image-content .header .rangeTitle {
    position: absolute;
    color: #FFF;
    font-size: 23px;
    top: 126px;
    left: 520px;
  }

  .conf-image .image-content .content {
    padding-left: 50px;
  }

  .conf-image .image-content .content .date {
    font-size: 23px;
    padding: 5px 10px;
  }

  .conf-image .image-content .content .outer-li header {
    flex: 0 0 140px;
  }

  .conf-image .image-content .content .outer-li ul {
    flex: 0 0 600px;
  }

  .conf-image .image-content .content .inner-li h2 {
    font-size: 23px;
  }

  .conf-image .image-content .content .inner-li .infos {
    font-size: 18px;
  }

  .conf-image .image-content .content .outer-li {
    margin-bottom: 20px;
  }

  .conf-image .image-content .footer {
    width: 236px;
    height: 97px;
  }

}

.task-progress {
  margin: 35px 0px;
}

/* toolbar */
.toolbar .toolbar-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolbar .toolbar-inner > a {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  font-size: 10px;
  height: 50px;
  line-height: 20px;
  padding-top: 5px;
  flex: 1 1 auto;
}

.toolbar .toolbar-inner > a > i {
  margin-left: 0px !important;
}
